<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Resultados Masterclass</title>
    <link rel="stylesheet" href="index.css">
    <link rel="icon" href="logo.ico">
</head>
<body>
    <header>
        <nav>
            <img src="logo.png">
            <div id="opciones-nav">
                <ul>
                    <a href="/">Inicio</a>
                    <a href="/top-diez">Top 10</a>
                </ul>
            <div>
        </nav>
    </header>
    <div>
        <table id="puntajes">
            <thead>
                <tr>
                    <th>Nombre</th>
                    <th>Puntaje</th>
                </tr>
            </thead>
            <tbody>
                <%  for (let i = 0; i < registros.length; i++) { %>
                    <tr>
                        <td><%= locals.registros[i].puntaje %></td>
                        <td><%= locals.registros[i].nombre %></td>
                    </tr>
                <% } %>
            </tbody>
        </table>
    </div>


    <script src="app.js"></script>
</body>
</html>
