<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Resultados Masterclass</title>
    <link rel="stylesheet" href="public/styles.css">
</head>
<body>
    <table id="puntajes">
        <tr>
            <th>Nombre</th>
            <th>Puntaje</th>
        </tr>
        <%  for (let i = 0; i < registros.length; i++) { %>
            <tr>
                <td><%= registros[i].nombre %></td>
                <td><%= registros[i].puntaje %></td>
            </tr>
        <% } %>
    </table>

    <script src="app.js"></script>
</body>
</html>
