<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Resultados Masterclass</title>
    <link rel="stylesheet" href="index.css">
    <link rel="icon" href="logo.ico">
</head>
<body>
    <header>
        <nav>
            <img src="logo.png">
            <div id="opciones-nav">
                <ul>
                    <a href="/">Inicio</a>
                    <a href="/top-diez">Top 10</a>
                </ul>
            <div>
        </nav>
    </header>
    <div>
        <table id="puntajes">
            <thead>
                <tr>
                    <th>Nombre</th>
                    <th>Puntaje</th>
                </tr>
            </thead>
            <tbody>
                <%  
                    setInterval(function() {
                        fetch("localhost:4000/obtener-registros", {method: "get"})
                            .then(function(response) {
                                for(let i = 0; i < response.length; i++) { %>
                                    <tr>
                                        <td><%= response[i].nombre %></td>
                                        <td><%= response[i].puntaje %></td>    
                                    </tr>
                                <% } 
                            }).catch(function(err){
                                console.error("Fetch no devolvió nada");
                            })
                    }, 3000); %>
                        
            </tbody>
        </table>
    </div>


    <script src="app.js"></script>
</body>
</html>
